table {
    border-spacing: 10;
    border: 1px solid black;
  }

  thead {
    background-color: rgb(130, 117, 117);
    color: aliceblue;
  }


    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      text-align: left;

    }
